html{
  font-family: 'Work Sans', sans-serif;
  font-size: 14px;
}
body{
  background: rgb(255,242,242);
  color: rgb(32,64,86);
}
h1{
  font-size: 2.5rem;
  font-weight: bold;
}
h2{
  font-size: 1rem;
  font-weight: bold;
}
p{
  color: rgb(74,74,74);
}
.instructions{
  /*margin-top: 5.25rem;*/
}
.card{
  position: relative;
  background: rgb(32,64,86);
  border: 4px solid #fff;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 900;
  font-size: 4.21rem;
  color:rgb(255,255,255);
  text-align: center;
  vertical-align: middle;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card::before{
  display: inline;
  content: '';
  padding-top:90%;
  padding-bottom:90%;
  font-weight: 400;
}
.reset{
  font-size: 2rem;
  padding: 1rem;
  text-align: center;
  background: rgb(200,100,100);
  border: 4px solid #fff;
  color: #fff;
  border-radius: 8px;
  cursor: pointer;
  margin:1rem;
}
.win{
  display: none;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  width: 100%;
  height: 100%;
  margin: auto;
  text-align: center;
  background: rgb(242,242,242);
  font-size: 3rem;
}
.gif{
  background: url("../img/congrats.gif");
  background-repeat: no-repeat;
  height: 30%;
  margin-top: 2rem;
  background-position: center;
  background-size: contain;
  width: 100%;
}
@media only screen and (min-width:40rem){
  .card::before{
    display: inline;
    content: '';
    padding-top:40%;
    padding-bottom:40%;
    font-weight: 400;
  }
  .win{
    align-items: center;
  }
  .gif{
    width: 31.25rem;
  }
  .win h3{
    width: 31.25rem;
  }

}
